<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>pogo</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1>Pogoda na dziś i jutro</h1>
    <form>
      <select name='city' onchange='submit()'>
        <% @cities.each do |city| %>
          <% if @city == city %>
            <option selected>
              <%= city %>
            </option>
          <% else %>
            <option>
             <%= city %>
           </option>
          <% end %>
        <% end %>
      </select>
      <button type="submit" class="btn" id="submit">wybierz</button>
      <script>
        element = document.getElementById('submit');
        element.parentNode.removeChild(element);
      </script>
    </form>
    <p></p>
    <br />
    <img src='http://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&amp;row=<%= @meteo_params['row'] %>&amp;col=<%= @meteo_params['col'] %>&amp;lang=pl' />
    <p> </p> <br />
    <img style='width: 45%' src='http://webservice-pl-pl.weeronline.nl/digits_map/Warszawa/129/m/weather_map/metric/463' />
    <img style='width: 45%' src='http://webservice-pl-pl.weeronline.nl/digits_map/Warszawa/129/<%= (Date.today + 1).to_s %>/weather_map/metric/463' />
    <p> </p> <br />
    <img style='width: 45%' src='http://pogodynka.pl/http/assets/products/main_page_maps/day_0000-00-00d.jpg' />
    <img style='width: 45%' src='http://www.pogodynka.pl/http/assets/products/main_page_maps/day_<%= (Date.today + 1).to_s %>d.jpg' />
    <p> </p> <br />
  </body>
</html>

